<html>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
    <title>Live Video</title>
  </head>
  <body>
    <h1>Live Video</h1>
    <img src="{{ url_for('video_feed') }}" width="520" height="340" controls>
  </body>
</head>
<body>
  <h1>Static Video</h1>
  <video width="420" height="240" controls>
    <source src={{url_for('static', filename="2017-11-06-VIDEO-00042705.mp4") }} type="video/mp4">
  </video>
  <video width="420" height="240" controls>
    <source src={{url_for('static', filename="2017-11-11-VIDEO-00043206.mp4") }} type="video/mp4">
  </video>
</body>
</html>
